<div class="container">
  <div class="row">
    <div class="col-sm-12 body">
      <h1 class="news">News</h1>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2rjhHwUcSX19nHJ4g0TLGVZOBVsdl694baHym8_yybDKiacjR2w" alt="Image" class="image" />
      <h4>UserId: 12345</h4>
      <h4>Author: John Dae</h4>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a>WebDesign</a></li>
        <li role="presentation"><a>Mobile</a></li>
        <li role="presentation"><a>Software development</a></li>
      </ul>
      <h4>Content: Software Mobile</h4>
      <h4>category: mobile development</h4>
      <h4>Date: {{date}}</h4>
    </div>
  </div>
</div>
